# Configs
config.json
config2.json

# Build Artifacts
check_mimic.go
find_quic_target.go
test_ping.go
bin/
/packaging/payload/
*.exe
*.exe~
*.app
*.pkg
*.dmg
*.msi

# Wails / Node
frontend/dist/
frontend/node_modules/
wailsjs/

# OS
.DS_Store
*.log
bin/logs/

# IDE
.vscode/
.idea/